<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Shop Homepage - Start Bootstrap Template</title>
    <!-- Bootstrap core CSS -->
    <link href="~/Content/shop-homepage.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/animate.min.css" rel="stylesheet" />

    @*--------------script------------------*@
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/simpleCart.min.js"></script>
    <script src="~/Scripts/animate.min.js"></script>
    <script src="~/Scripts/imagezoom.js"></script>
    <script src="~/Scripts/jquery.mousewheel.js"></script>
    <!-- Custom styles for this template -->

</head>
<body>
    <!-- Navigation -->
    @(Html.Partial("_PartialNavbar"))
    <!-- Page Content -->
    @RenderBody()
    <!-- /.container -->
    <!-- Footer -->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Your Website 2017</p>
        </div>
        <!-- /.container -->
    </footer>
    <!-- Bootstrap core JavaScript -->

</body>
<!-- Bootstrap core JavaScript -->

</html>
